<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/normalize.css" />
    <link rel="stylesheet" href="/src/css/sign-in.css" />
</head>
<body>
    <div class="grid">
      <div class="grid__image">
        
      </div>
     
      <div class="grid__form">
        <div class="logo__signIn-box">
          <div class="logo">
            <img src="/src/img/signIn/treasure.png" alt="">
          </div>
          <h1 class="logo__name">My Chest</h1>
        </div>
        <p class="sign__parrafo">
          Regístrate aquí para apoyar a tus creadores favoritos
        </p>

        <form action="" class="form__signIn">
          <label for="" class="signIn__label">
            Iniciar Sesión:
          </label>
          <input type="email" class="signIn__email" placeholder="Correo">
          <input type="password" class="signIn__password" placeholder="Contraseña">

          <button class="signIn__btn">
            Iniciar sesión
          </button>
        </form>

        <div class="forgetLinks">
          <a href="#">¿Has olvidado la contraseña?</a>
          <a href="#">Regristrate para OnlyFans</a>
        </div>

        <div class="signIn__others-btns">

          <button class="signIn-twitter">
            Iniciar Sesión con Twitter
          </button>

          <button class="signIn-google">
            Iniciar sesión con Google
          </button>

        </div>

      </div>

      <div class="grid__footer">
        <div class="footer__links links__contacts">
          <a href="#">&copy;MyChest</a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>

        <div class="footer__links">
          <a href="#">Help</a>
          <a href="#">Blog</a>
          <a href="#">Store</a>
          <a href="#">DMCA</a>
          <a href="#">How it works</a>
          <a href="#">USC 2257</a>
          <a href="#">Complaints Policy</a>
          <a href="#">Standart Contact between Fan and Creator</a>
        </div>

        <div class="footer__links">
          <a href="#">About</a>
          <a href="#">Branding</a>
          <a href="#">Terms of service</a>
          <a href="#">Privacy</a>
          <a href="#">Referrals</a>
          <a href="#">Acceptable Use Policy</a>
          <a href="#">Cookie Notice</a>
          <a href="#">Statement</a>
        </div>
      </div>
    </div>
</body>
</html>